body{
	background: #ddd;
	margin:0;
	padding: 0;
	font-family: 'Patua One', cursive;
}
.container{
	border: 1px solid #c7c6f9;
}
.header{
	background: #88c6cc ;
	min-height: 100px;
	text-align: center;
	/*background: #8abbd7; */
	/*background: -moz-radial-gradient(center, ellipse cover, #8abbd7 2%, #8abbd7 12%, #8abbd7 14%, #053f87 100%);*/
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.54);}
.header a:hover{text-decoration: none;}
.header h1{
	font-family: 'Oleo Script', cursive;
	color: #000;
	font-size: 40px;
	margin: 0;
	padding-top: 20px;
	text-shadow: 1px 3px 3px #3D3C3C;
	display:inline-block;
	border-bottom: 1px solid #758D8F;
	padding-bottom: 10px;
}
.header h4{
	font-family: "Oleo Script",cursive;
	font-size: 25px;
	margin: 10px 0 0;
	padding-bottom: 20px;
	padding-top: 5px;
}
.logo{height: 100px;
	margin-top: 20px;
}
.logo img{
	width: 100px;
}
.main_body{
	background: #fff;
	min-height: 460px;
}
.side_bar{
	
	min-height: 460px;
	padding-top: 50px;
	border-right: 1px solid #E0E0E0;
}
@media (max-width: 767px){
	.side_bar{
		min-height: auto;
	}
}
.side_bar li a{border:1px solid;}
.content{
	/*min-height: 580px;*/
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
#form_area,#table_area{
	border: 1px solid #d1d0d7;
	box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.75);
	padding-bottom: 40px;
}
.form_head{
	background: rgba(0, 117, 213, 0.13);
	padding: 35px 0;
}
.result_area{
	color: #1909dd;
    font-size: 18px;
    padding: 2px 40px;
}

.footer{background: #88c6cc ;padding: 10px}
.footer p{margin: 0;}


/*CUSTOM BOOTSTRAP */
.input-group-addon{
	color: #70a3e8;
}
